<header>
    <div class="container">
        <div>
            <h1>Mamba Mentality Todo App</h1>
            <form method="GET" action="/auth/github">
                <button type="image" class="loginBtn">
                    <img src="images/github.png" width="100%">
                </button>
            </form>
        </div> 
    </div>
</header>

<section>
    <section>
   
</section>
    <div class="container">
        <img src="images/2K.png" alt="Farewell" width="100%;" height="auto">
        <div class="container">
    </div>
</section>