<h1 style="align-text:center">Remembering Kobe</h1>
<section id="boxes">
    <div class="container">
        <div class="box">
            <p style="font-family:verdana">Kobe Bryant was someone I watched growing up from the time I was 3 years old. I remember the excitement
                of seeing the him winning his first championship in 2000, and as I grew older, I continued to witness
                him mature on the basketball court. This todo assignment was inspired by his incredible work
                ethic, and was created for NBA fans and non-fans alike. His untimely passing reminds us that 
                everyday is precious, therefore we should live each and everyday with the goal of achieving
                something, no matter how insignificant it may seem. From memories of playing on the basketball court and
                yelling "KOOBE!!" before shooting a shot hoping it would go in, to watching him mentor his now deceased
                daughter Gigi Bryant after her basketball games, he left an impression on my life that will continue to
                resonate within my being. 
            </p>
        </div>
        <div class="box">
            <img src="/images/memorial.png" alt="Kobe Memorial" width=50%>
            <form method="GET" action="/home">
                <button type="submit"><-Back</button>
            </form>
        </div>
    </div> 
</section>  

