<h1>Remembering Kobe</h1>

<section id="boxes">
    <div class="container">
        <div class="box" >
            <p>Kobe Bryant was someone I watched growing up from the time I was 3 years old. I remember the excitement
                of seeing the him winning his first championship in 1999, and as I grew older, I continued to witness
                him mature on the basketball court. This todo assignment was inspired by his incredible work
                ethic, and was created for NBA fans and non-fans alike. His untimely passing reminds us that 
                everyday is precious, and therefore we should live each and everyday with the goal of achieving
                something, no matter how insignificant it may seem.
            </p>
        </div>
        <div>
            <img src="images/memorial.png" alt="Kobe Memorial" width=50%;>
            <form method="GET" action="/">
                <button type="submit"><-Back</button>
            </form>
        </div>
        </div>
    </div>
 </section>      

