<section id="boxes">
    <div class="container">
        <div class="box" >
            <img src="images/2K.png" alt="RaceDay"">
        </div>
        <div class="box" padding="20px;">
            <p>After starting my CS journey at Georgia Tech, I began working on backend technologied
                including gRPC, deploying in Docker, hosting on AWS, etc. My hobbies are running, I compete
                in many national races such as the Peachtree Road Race here in Atlanta and I will be
                competing in the Chicago marathon by October 2021 pending COVID. While I would not consider
                myself an expert in front end development, I have enough experience using Angular, HTML, and CSS
                to get me through most requirements. 

                My main jobs involves app development for customers. My current application allows
                communicaton with our app through both HTTP and gRPC transport layers, in which the
                app is placed within a Docker container and and depoyed via Kubernettes.
            </p>
        </div>
    </div>
 </section>       